/* reset stylesheet to reset browser defaults back to 0 */
@import url(reset.css);

/* two Google fonts we'll use */
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	background-image: url(../img/sandpaper.png);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

article {
	background-color: #FFFFFF;
	margin: 20px auto;
	width: 90%;
}

header {
	background-color: #907A46;
	font-family: 'Cantora One' sans-serif;
}

header h1 {
	color: #EEEDEA;
	font-size: 200%;
	line-height: 60px;
}

header img {
	float: right;
	height: 60px;
	opacity: 0.7;
}

header img:hover {
	opacity: 1.0;
}

header, figure {
	padding: 10px;
}

figure {
	background-color: #FFF;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

figcaption {
	font-weight: 300;
	margin-top: 5px;
	text-align: center;
}

figure img {
	border: 10px solid #EEE;
	border-radius: 2px;
	width: 200px;
}

figure:hover {
	box-shadow: 2px 2px 6px #555;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}